body{
    background-color: royalblue;
   
}

h1{
    color: white;
    font-size: 3rem;
}
#content{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
header{
    background-color: white;
    width: 60%;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    margin: auto;
    font-size: 1.5rem;
}


main{
    background-color: white;
    height: 80vh;
    width: 60%;
    margin: auto;
}